{% extends "layouts/home.html" %}
{% set pageTitle = 'Training Creating Dataset' %}
{% set bodyClasses = 'bg-gr' %}
{% block content %}
{% include "include/training-creating-dataset.html" %}
{% endblock %}
