{% extends "layouts/training-machile.html" %}
{% set pageTitle = 'Training Machine Learning' %}
{% set bodyClasses = 'bg-gr' %}
{% block content %}
{% include "include/training-machine-learning-2.html" %}
{% endblock %}
