{% extends "layouts/home.html" %}
{% set pageTitle = 'Training annotated data' %}
{% set bodyClasses = 'bg-gr' %}
{% block content %}
{% include "include/training-annotated-data.html" %}
{% endblock %}
