<footer>
    <div class="container">
        <div class="flex">
            <h4>Stratio.<span>Inc.</span></h4>
            <div class="info">
                <p>© 2018-2020 Stratio, Inc.</p>
                <p>4019 Transport St, Palo Alto, CA 94303, U.S.A</p>
            </div>
            <div class="info">
                <p><a href="mailto:linksquare@stratiotechnology.com">linksquare@stratiotechnology.com</a></p>
                <p><a href="">Terms of Service</a> <a href="">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>