<header>
    <nav class="navbar container">
        <a class="logo" href=""><img src="./assets/img/logo.png" alt=""></a>
        <div class="ml-auto">
            <a href="" title="">AI Platform</a>
            <a href="" title="">Sign In</a>
        </div>
    </nav>
</header>