<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.1.0/fabric.min.js"></script>
<script>
    $('#preview-image').modal('show');

    var state = 0;
    var data =[
        {
            'background': './assets/img/Hallstat.jpg',
            'json': null
        },
        {
            'background': 'https://static.toiimg.com/photo/72975551.cms',
            'json': null
        },
        {
            'background': 'https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg',
            'json': null
        },
        {
            'background': 'https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg',
            'json': null
        }
    ];
    var canvas = this.__canvas = new fabric.Canvas('c');

    function reload(){

        // canvas.clearContext();
        canvas.clear();
        canvas.setBackgroundImage(data[state].background, canvas.renderAll.bind(canvas), {
            // Needed to position backgroundImage at 0/0
            originX: 'left',
            originY: 'top'
        });

        console.log(data[state]);
        console.log(data[state].json);
        if (data[state].json != null) {
            canvas.loadFromJSON(data[state].json, canvas.renderAll.bind(canvas), function(o, object) {
                // `o` = json object
                // `object` = fabric.json instance
                // ... do some stuff ...
                console.log('edsdsdsnd');
            });
        }
    }

    $('.boouding').on('click',function () {
        rec = new fabric.Rect({
            top: 10,
            left: 10,
            width: 100,
            height: 100,
            fill: '',
            stroke: '#000',
            strokeWidth: 1
        });
        canvas.add(rec);
    });


    $('.polygon').on('click',function () {
        poly = new fabric.Polygon([
                {x: 200, y: 0},
                {x: 250, y: 40},
                {x: 235, y: 100},
                {x: 165, y: 100},
                {x: 150, y: 40} ], {
                left: 150,
                top: 0,
                stroke: '#000',
                strokeWidth: 1,
                fill:''
            }
        );
        canvas.add(poly);
    });
    document.getElementById('clear').addEventListener('click', () => {
        canvas.clear();
    });


    $('#next').on('click',function () {
        console.log("next");

        if (data.length == (state+1)) {
            console.log('hết hàng đợi. Không next');
        }else{

            var json = canvas.toJSON();
            data[state].json = json ;
            state = state +1;
            reload();
            if (data.length == (state+1)) {
                $('#next').addClass('disable');
            }else{
                $('#next').removeClass('disable');
                $('#preview').removeClass('disable');
            }
        }

    });

    $('#clear').on('click',function () {
        console.log("reset");
        data[state].json = null ;
        reload();
    });

    $('#preview').on('click',function () {
        console.log("preview");
        if ( state == 0) {
            console.log('hết hàng đợi. Không preview');
        }else{
            var json = canvas.toJSON();
            data[state].json = json ;
            state = state -1;
            reload();
            if (state == 0) {
                $('#preview').addClass('disable');
            }else{
                $('#next').removeClass('disable');
                $('#preview').removeClass('disable');
            }
        }
    });

    $('#save_server').on('click',function () {
        alert("Đã save vào server.");
        var json = canvas.toJSON();

        console.log("data cần đẩy lên server: ");
        console.log(json);

        // hoặc csv
        var svg = canvas.toSVG();
        console.log(svg);

        // doc them tai http://fabricjs.com/docs/fabric.Canvas.html
    });

    reload();

</script>
</body>
</html>