<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/calendar.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal-message').modal('show');

        $('.toggle-filter').on('click', function () {
            $('.annotation__left,.training__left,.modal-filter').addClass('show');
        });

        $('.modal-filter').on('click', function () {
            $('.annotation__left,.training__left,.modal-filter').removeClass('show');
        });
        var check = false;

        $('.btn-select').on('click',function () {
            if (check == false) {
                $(".annotation  table input").prop("checked", true);
                check = true;
            }else{
                check = false;
                $(".annotation  table input").prop("checked", false);
            }

        });

        $('.link_img').on('click', function(){
            $(this).attr('data-link');
            $('#preview-image .img-wrapper img').attr('src', $(this).attr('data-link'));
            $('#preview-image').modal('show');
        })

        //call select2.min.js
        /*$('.select-dropdown').select2({
            minimumResultsForSearch: Infinity
        });*/
        $('.selectbox').select2({
            minimumResultsForSearch: Infinity,
        });

        $('.dropdown-menu .item').on('click',function () {
           var dr_value = $(this).data('value');
           $('.select-dr').html(dr_value);
        });


        $('.btn_dropdown').on('click',function () {
           $(this).parents('.rw').toggleClass('show-dropdown');
        });

    });
</script>
</body>
</html>