<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/calendar.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/highcharts.js"></script>
<script>
    $(document).ready(function () {
        $('.toggle-filter').on('click', function () {
            $('.annotation__left,.training__left,.modal-filter').addClass('show');
        });

        $('.modal-filter').on('click', function () {
            $('.annotation__left,.training__left,.modal-filter').removeClass('show');
        });
        var check = false;

        $('.btn-select').on('click',function () {
            if (check == false) {
                $(".annotation  table input").prop("checked", true);
                check = true;
            }else{
                check = false;
                $(".annotation  table input").prop("checked", false);
            }

        });

        $('.link_img').on('click', function(){
            $(this).attr('data-link');
            $('#preview-image .img-wrapper img').attr('src', $(this).attr('data-link'));
            $('#preview-image').modal('show');
        })

        //call select2.min.js
        $('.select-dropdown').select2({
            minimumResultsForSearch: Infinity
        });

        $('.btn_dropdown').on('click',function () {
           $(this).parents('.rw').toggleClass('show-dropdown');
        });

        $('.selectbox').select2({
            minimumResultsForSearch: Infinity,
        });

        //highcharts js
        Highcharts.chart('chart_line', {
            chart: {
                type: 'line'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                gridLineWidth: 1,
                gridLineColor:'#d3d3d3',
                tickWidth: 0,
                categories: ['1000', '5000', '5000', '10000', '15000'],
                labels: {
                    align: 'left',
                    x: -20,
                    y: 32,
                    style: {
                        color: '#000',
                        fontSize:'16px',
                        fontWeight: '700'
                    },
                    startOnTick: false,
                    endOnTick: false,
                    minPadding: 0,
                    maxPadding: 0,
                },
            },
            yAxis: {
                gridLineColor:'#d3d3d3',
                labels: {
                    x: -28,
                    style: {
                        color: '#000',
                        fontSize:'16px',
                        fontWeight: '700'
                    },
                },
                title: {
                    text: ''
                }
            },
            series: [{
                name: ' ',
                data: [0.7, 0.8, 0.7,0.9,1.0]
            }],
            plotOptions: {
                line: {
                    color: '#33c3ff',
                    gapSize: '13px',
                    lineWidth: 1,
                }
            },
        });
    });
</script>
</body>
</html>