<main>
    <div class="recover">
        <h1>Activate Your Account</h1>
        <p>Click the button below to activate your account</p>
        <button type="button" class="bt btn-primary-active" onclick="location.href='welcome.html'">Activate</button>
    </div>
</main>
