<main>
    <div class="flex box-annotation">
        <div class="col-left pr">
            <div class="figure flex">
                <div class="figure__item boouding flex">
                    <i class="icon icon-boouding"></i>
                    <p>Bounding <br> Box</p>
                </div>
                <div class="figure__item polygon flex">
                    <i class="icon icon-polygon"></i>
                    <p>Polygon <br> Box</p>
                </div>
            </div>
            <div class="img-wrapper flex-center">
                <!--<img src="./assets/img/Hallstat.jpg" alt="Easy Annotation Example">-->
                <canvas id="c" width="870" height="485" ></canvas>
            </div>
            <div class="box-btn">
                <button type="button" id="save_server" class="btn_save"><i class="icon"></i>Save</button>
                <button type="button" id="clear" class="btn_reset"><i class="icon"></i>reset</button>
            </div>
            <div class="nav-annotaion flex">
                <button type="button" id="preview" class="btn_prev flex-center disable"><i class="icon"></i> Preview Image</button>
                <button type="button" id="next" class="btn_next flex-center">Next Image <i class="icon"></i></button>
            </div>
        </div>
        <div class="col-right">
            <div class="class">
                <input type="text" placeholder="Class">
            </div>
        </div>
    </div>
    <div class="modal fade preview-image" id="preview-image">
        <div class="modal-dialog ">
            <div class="modal-content">
                <a href="javascript:void(0)" class="close" data-dismiss="modal">Ok</a>
                <div class="img-wrapper flex-center">
                    <img src="./assets/img/Hallstat.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</main>