<main>
    <div class="annotation container flex">
        <button class="toggle-filter"><i class="icon icon-filter"></i></button>
        <div class="annotation__left">
            <div class="box-select">
                <select id="" class="selectbox">
                    <option value="Annotation">Annotation</option>
                    <option value="Training">Training</option>
                    <option value="Test">Test</option>
                </select>
            </div>
            <div class="filter">
                <h4>Filter</h4>
                <div class="filter__item">
                    <h5>Uploaded by</h5>
                    <ul class="filter__list">
                        <li>
                            <label>
                                <input type="checkbox" name="">
                                <span class="checked"></span>
                                All
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="">
                                <span class="checked"></span>
                                Myself
                            </label>
                            <form method="" action="">
                                <input type="text" placeholder="User ID">
                                <input type="text" placeholder="Date" id="inputDate2">
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="filter__item">
                    <h5>Annotated by</h5>
                    <ul class="filter__list">
                        <li>
                            <label>
                                <input type="checkbox" name="">
                                <span class="checked"></span>
                                All
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" name="">
                                <span class="checked"></span>
                                Myself
                            </label>
                            <form method="" action="">
                                <input type="text" placeholder="User ID">
                                <input type="text" placeholder="Date" id="inputDate">
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="filter__item">
                    <h5>Class</h5>
                    <ul class="filter__list">
                        <li>
                            <label>
                                <input type="checkbox" name="">
                                <span class="checked"></span>
                                All
                            </label>
                            <form method="" action="">
                                <input type="text" placeholder="All">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="annotation__right">
            <h3>Unannotated(100)</h3>
            <div class="box-table">
                <table>
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Class</th>
                        <th>Annotated Owner</th>
                        <th>Annotation Date</th>
                        <th>Original Owner</th>
                        <th>Original Date</th>
                        <th>Preview</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Class</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td>User E-mail ID</td>
                        <td>10. 13. 2020</td>
                        <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex box-btn fixw">
                <button type="button" class="btn-select">Select All</button>
                <button type="button" class="btn-annotation">Annotation</button>
                <label for="file-upload" class="custom-file-upload btn-upload flex-center ml-auto">
                    <i class="icon icon-upload"></i> Upload Image
                </label>
                <input id="file-upload" type="file" multiple/>
                <button type="button" class="btn-download flex-center"><i class="icon icon-download"></i> Download Image</button>
            </div>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span class="icon-prev"></span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span class="icon-next"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal fade datetimepicker" id="datetimepicker">
        <div class="modal-dialog ">
            <div class="modal-content">
                <a href="javascript:void(0)" class="close" data-dismiss="modal">X</a>
                <div class="calendar pr">
                    <h4>Set Duration</h4>
                    <div class="cld_inner">
                        <ul class="select_day tab nav flex">
                            <li><a href="#start" data-toggle="tab" class="startdate active">Start</a></li>
                            <li><a href="#end" data-toggle="tab" class="enddate">End</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="start" class="tab-pane fade show active">
                                <div class="cld_curent flex">
                                    <button type="button" class="prev"></button>
                                    <p class="month_year"></p>
                                    <button type="button" class="next"></button>
                                </div>
                                <div class="cld_head flex cf">
                                    <li>SUN</li>
                                    <li>MON</li>
                                    <li>TUE</li>
                                    <li>WED</li>
                                    <li>THU</li>
                                    <li>FRI</li>
                                    <li>SAT</li>
                                </div>
                                <div class="cld_body_start flex cf"></div>
                            </div>
                            <div id="end" class="tab-pane fade">
                                <div class="cld_curent flex">
                                    <button type="button" class="prev1"></button>
                                    <p class="month_year1"></p>
                                    <button type="button" class="next1"></button>
                                </div>
                                <div class="cld_head flex cf">
                                    <li>SUN</li>
                                    <li>MON</li>
                                    <li>TUE</li>
                                    <li>WED</li>
                                    <li>THU</li>
                                    <li>FRI</li>
                                    <li>SAT</li>
                                </div>
                                <div class="cld_body_end flex cf"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" id="apply_time" class="btn_application flex-center">Application</a>
            </div>
        </div>
    </div>
    <div class="modal-filter"></div>
    <div class="modal fade preview-image" id="preview-image">
        <div class="modal-dialog ">
            <div class="modal-content">
                <a href="javascript:void(0)" class="close" data-dismiss="modal">Ok</a>
                <div class="img-wrapper flex-center">
                    <img src="./assets/img/Hallstat.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</main>