<main>
    <form action="" class="login reset_pwd">
        <h1>Find your password</h1>
        <div class="form-group">
            <label for="" class="ml-4">E-mail ID</label>
            <input type="email" class="form-control pl-4" placeholder="example@example.com" id="email">
        </div>
        <button type="submit" class="btn btn-primary-signin" id="signup">Confirm</button>
        <div class="remember return_login align-self-center">
            <a href="login.html">Return to sign in</a>
        </div>
    </form>
    <div class="modal fade" id="formValidate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body error">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closePopup">Ok</button>
                </div>
            </div>
        </div>
    </div>
</main>
