<main>
    <div class="banner pr">
        <div class="banner__img"><img src="./assets/img/banner.jpg" alt=""></div>
        <div class="banner__content">
            <div class="container">
                <h1>Simple & Easy AI PLATFORM <br> Welcome to AI PLATFORM!</h1>
                <p>Do you want to know what's in the image?</p>
                <p>Do you think it is difficult to make an AI model?</p>
                <p>Do you want to find an AI model easily?</p>
                <p>Experience a variety of AI-related experiences now</p>
                <a href="" title="" class="btn_signin flex-center">Sign In </a>
            </div>
        </div>
    </div>
    <div class="introduce container flex">
        <div class="introduce__img">
            <img src="./assets/img/img1.png" alt="">
        </div>
        <ul class="introduce__content">
            <li>
                <div class="icon icon1"><img src="./assets/img/icon1.png" alt=""></div>
                <div class="content">
                    <h4>Image Annotation</h4>
                    <p>Attach annotations to the picture <br> easily and conveniently.</p>
                </div>
            </li>
            <li>
                <div class="icon icon1"><img src="./assets/img/icon2.png" alt=""></div>
                <div class="content">
                    <h4>Create Applet</h4>
                    <p>Do you want to make an AI model with <br> the image you have? Get started right now!</p>
                </div>
            </li>
            <li>
                <div class="icon icon1"><img src="./assets/img/icon3.png" alt=""></div>
                <div class="content">
                    <h4>Model Validation</h4>
                    <p>Do you want to know what images I have? <br> Are you curious about the models  made by others?
                        <br> Check it out now! </p>
                </div>
            </li>
        </ul>
    </div>
</main>