<main>
    <form action="" class="login">
        <h1>Sign In</h1>
        <div class="form-group">
            <label for="">E-mail ID</label>
            <input type="email" class="form-control" placeholder="example@example.com" id="email_login">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="Password" id="password_login">
        </div>
        <button type="submit" class="btn btn-primary-signin" id="login" >Sign in</button>
        <div class="remember align-self-center">
            <input type="checkbox">
            <span>Stay sign in</span>
        </div>
    </form>
    <div class="sign-up">
        <a href="signup.html">Sign up</a>
        <a href="findaccount.html">Forgot password</a>
    </div>
    <div class="modal fade" id="formValidate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body error">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closePopup">Ok</button>
                </div>
            </div>
        </div>
    </div>
</main>
