<main>
    <div class="recover">
        <h1>Recover your account</h1>
        <div class="redirect_password">
            <h4>Hi User</h4>
            <img src="../src/img/icon_password.png" alt="">
            <p>Forgot your password? No problem!</p>
            <p>You can click on the button below to reset yout password</p>
            <button type="button" class="btn bnt-primary-reset" onclick="location.href='resetpassword.html'">Reset password</button>
        </div>
        <div class="link_redirect">
            <p>This password link expire in 30 minutes. <a href="resetpassword.html">CLICK HERE</a> to get a new reset password link.</p>
            <p>If you did not initiate this request, please ignore this mail, the request will expire shortly.</p>
        </div>
        <div class="note_link">
            <span>If you have any questions along the way, we’ll be happy to help Send a message to Beyonsense@stratiotechnology.com
</span>
        </div>
    </div>
</main>
