<main>
    <form action="" class="login resetpassword">
        <h1>Reset your password</h1>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="New password" id="password">
            <input type="password" class="form-control" placeholder="Retype password" id="retype_password">
        </div>
        <button type="submit" class="btn btn-primary-signin" id="confirm">Confirm</button>
    </form>
    <div class="modal fade" id="formValidate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body error">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closePopup">Ok</button>
                </div>
            </div>
        </div>
    </div>
</main>
