<main>
    <div class="selection">
        <h2 class="selection__title">Select the feature you want.</h2>
        <div class="selection__list">
            <a href="" title="" class="flex-center">Annotation</a>
            <a href="" title="" class="flex-center">Training</a>
            <a href="" title="" class="flex-center">Test</a>
        </div>
    </div>
</main>