<main>
    <form action="" class="login signup" id="login">
        <h1>Sign Up</h1>
        <div class="form-group mb-4 row">
            <label for="" class="col-md-3 align-self-center">E-mail ID</label>
            <div class="col-md-9">
                <input type="email" name="email" pattern="[^ @]*@[^ @]*"  class="form-control" placeholder="example@example.com" id="email">
            </div>
        </div>
        <div class="form-group mb-4 row">
            <label for="" class="col-md-3">Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control mb-4" placeholder="Password" id="password">
                <input type="password" class="form-control" placeholder="Retype password" id="retype_password">
            </div>
        </div>
        <div class="form-group mb-4 row">
            <label for="" class="col-md-3">Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control mb-4" placeholder="First name" id="first_name">
                <input type="text" class="form-control" placeholder="Last name" id="last_name">
            </div>
        </div>
        <div class="form-group mb-4 row">
            <label for="" class="col-md-3 align-self-center">Time Zone</label>
            <div class="col-md-9 timezone">
                <input type="text" class="form-control" placeholder="Choose Your Time Zone" id="timeZone">
                <img src="../src/img/icon_tick.png" alt="">
            </div>
        </div>
        <div class="note_signup">
            <p>I have read and accepted the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
            <p>Stratio may keep me informed via email about products and services. </p>
        </div>
        <div class="button_signup">
            <button type="submit" class="btn btn-primary" id="signup">Sign Up</button>
            <a href="login.html">Return to sign in</a>
        </div>
    </form>
    <div class="modal fade" id="formValidate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body error">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closePopup">Ok</button>
                </div>
            </div>
        </div>
    </div>
</main>
