<main>
    <div class="task flex-center">
        <h2>Create a Task</h2>
        <form method="" action="">
            <label>Name</label>
            <input type="text" placeholder="Task Name">
            <button type="submit" class="btn_submit flex-center">Submit</button>
        </form>
    </div>
</main>