<main>
    <div class="training container flex">
        <button class="toggle-filter"><i class="icon icon-filter"></i></button>
        <div class="training__left">
            <div class="box-select">
                <select id="" class="selectbox">
                    <option value="Training">Training</option>
                    <option value="Annotation">Annotation</option>
                    <option value="Test">Test</option>
                </select>
            </div>
        </div>
        <div class="training__right">
            <ul class="nav tab flex">
                <li><a href="#annotateddata" data-toggle="tab" class="active">Annotated Data</a></li>
                <li><a href="#trainingdata" data-toggle="tab">Training Data</a></li>
                <li><a href="#training" data-toggle="tab">Training</a></li>
                <li><a href="#myapplet" data-toggle="tab">My applet</a></li>
            </ul>
            <div class="tab-content">
                <div id="annotateddata" class="tab-pane fade show active">
                    <div class="box-table">
                        <table>
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>Class</th>
                                <th>Annotated Owner</th>
                                <th>Annotation Date</th>
                                <th>Original Owner</th>
                                <th>Original Date</th>
                                <th>Preview</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>Class</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td>User E-mail ID</td>
                                <td>10. 13. 2020</td>
                                <td><a href="javascript:void(0)" class="link_img" data-link="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" >link</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex box-btn">
                        <button type="button" class="flex-center">Go to Training Data</button>
                    </div>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span class="icon-prev"></span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span class="icon-next"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="trainingdata" class="tab-pane fade">
                    <div class="table">
                        <div class="table__head flex">
                            <div class="item">Select</div>
                            <div class="item">Class</div>
                        </div>
                        <div class="table__body">
                            <div class="rw">
                                <div class="rw-fx flex">
                                    <div class="item">
                                        <label>
                                            <input type="checkbox">
                                            <span class="checked"></span>
                                        </label>
                                    </div>
                                    <div class="item">Apple(10)</div>
                                </div>
                            </div>
                            <div class="rw">
                                <div class="rw-fx flex">
                                    <div class="item">
                                        <label>
                                            <input type="checkbox">
                                            <span class="checked"></span>
                                        </label>
                                    </div>
                                    <div class="item">Bean(10)</div>
                                </div>
                            </div>
                            <div class="rw">
                                <div class="rw-fx flex">
                                    <div class="item">
                                        <label>
                                            <input type="checkbox">
                                            <span class="checked"></span>
                                        </label>
                                    </div>
                                    <div class="item">Apple(10)</div>
                                </div>
                            </div>
                            <div class="rw">
                                <div class="rw-fx flex">
                                    <div class="item">
                                        <label>
                                            <input type="checkbox">
                                            <span class="checked"></span>
                                        </label>
                                    </div>
                                    <div class="item">Bean(10)</div>
                                </div>
                            </div>
                            <div class="rw">
                                <div class="rw-fx flex">
                                    <div class="item">
                                        <label>
                                            <input type="checkbox">
                                            <span class="checked"></span>
                                        </label>
                                    </div>
                                    <div class="item">Car(10)</div>
                                </div>
                            </div>
                            <div class="rw">
                                <div class="rw-fx flex">
                                    <div class="item">
                                        <label>
                                            <input type="checkbox">
                                            <span class="checked"></span>
                                        </label>
                                    </div>
                                    <div class="item">Dear(10)</div>
                                </div>
                            </div>
                            <div class="rw">
                                <div class="rw-fx flex">
                                    <div class="item">
                                        <label>
                                            <input type="checkbox">
                                            <span class="checked"></span>
                                        </label>
                                    </div>
                                    <div class="item">Fruits(10)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex box-btn">
                        <button type="button" class="flex-center">Go to Training</button>
                    </div>
                </div>
                <div id="training" class="tab-pane fade">
                    <div class="process">
                        <ul class="process__list flex pr">
                            <li class="pending">
                                <i class="icon"></i>
                                <span>Applet Profile</span>
                            </li>
                            <li class="">
                                <i class="icon"></i>
                                <span>Creating Dataset</span>
                            </li>
                            <li>
                                <i class="icon"></i>
                                <span>Machine Learning</span>
                            </li>
                            <li>
                                <i class="icon"></i>
                                <span>Result</span>
                            </li>
                        </ul>
                    </div>
                    <form action="" method="" class="form-input">
                        <div class="form-group">
                            <label>Applet Name</label>
                            <input type="text" name="" placeholder="Applet Name" required>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea placeholder="Description"></textarea>
                        </div>
                        <button type="submit" class="btn_submit flex-center">Next</button>
                    </form>
                </div>
                <div id="myapplet" class="tab-pane fade">
                    <div class="box-table">
                        <div class="table">
                            <div class="table__head table__head--fx flex">
                                <div class="item">Applet Name</div>
                                <div class="item">Description</div>
                                <div class="item">Create Date</div>
                                <div class="item">Status</div>
                                <div class="item"></div>
                            </div>
                            <div class="table__body table__body--fx">
                                <div class="rw">
                                    <div class="rw-fx flex">
                                        <div class="item">Name</div>
                                        <div class="item">Description Description</div>
                                        <div class="item">10.10.2020</div>
                                        <div class="item">Proceeding(90%)</div>
                                        <div class="item"></div>
                                    </div>
                                </div>
                                <div class="rw">
                                    <div class="rw-fx flex">
                                        <div class="item">Name</div>
                                        <div class="item">Description</div>
                                        <div class="item">10.10.2020</div>
                                        <div class="item">Complete</div>
                                        <div class="item"><button type="button" class="btn_dropdown"></button></div>
                                    </div>
                                    <div class="info flex">
                                        <div class="info__apple">
                                            <h2 class="title">Applet Information</h2>
                                            <div class="info__item flex">
                                                <h5>Created by</h5>
                                                <span>User Name</span>
                                            </div>
                                            <div class="info__item flex">
                                                <h5>Applet Name</h5>
                                                <span>Applet Name</span>
                                            </div>
                                            <div class="info__item mt-4 mb-4">
                                                <h5>Description</h5>
                                                <p>Description Description Description Description Description Description Description Description</p>
                                            </div>
                                            <div class="info__item">
                                                <div class="flex">
                                                    <h5>Total Amount Images</h5>
                                                    <strong>8ea</strong>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <h6>Apple</h6>
                                                        <span>4ea</span>
                                                    </li>
                                                    <li>
                                                        <h6>Bean</h6>
                                                        <span>6ea</span>
                                                    </li>
                                                    <li>
                                                        <h6>Car</h6>
                                                        <span>1ea</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="info__machile">
                                            <h2 class="title">Machine Leraning <br> Information</h2>
                                            <div class="info__item flex">
                                                <h5>Iteration</h5>
                                                <span>5000</span>
                                            </div>
                                            <div class="matrix flex mt-5">
                                                <h5>True Label</h5>
                                                <div class="tb-info">
                                                    <h6>Confusion matrix</h6>
                                                    <table>
                                                        <tr>
                                                            <td><span>Apple</span></td>
                                                            <td>0.99</td>
                                                            <td>0.12</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>Pear</span></td>
                                                            <td>0.01</td>
                                                            <td>0.88</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Appe</td>
                                                            <td>Pear</td>
                                                        </tr>
                                                    </table>
                                                    <h6>Predicted Label</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rw">
                                    <div class="rw-fx flex">
                                        <div class="item">Name</div>
                                        <div class="item">Description</div>
                                        <div class="item">10.10.2020</div>
                                        <div class="item">Fail</div>
                                        <div class="item"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span class="icon-prev"></span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span class="icon-next"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade datetimepicker" id="datetimepicker">
        <div class="modal-dialog ">
            <div class="modal-content">
                <a href="javascript:void(0)" class="close" data-dismiss="modal">X</a>
                <div class="calendar pr">
                    <h4>Set Duration</h4>
                    <div class="cld_inner">
                        <ul class="select_day tab nav flex">
                            <li><a href="#start" data-toggle="tab" class="startdate active">Start</a></li>
                            <li><a href="#end" data-toggle="tab" class="enddate">End</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="start" class="tab-pane fade show active">
                                <div class="cld_curent flex">
                                    <button type="button" class="prev"></button>
                                    <p class="month_year"></p>
                                    <button type="button" class="next"></button>
                                </div>
                                <div class="cld_head flex cf">
                                    <li>SUN</li>
                                    <li>MON</li>
                                    <li>TUE</li>
                                    <li>WED</li>
                                    <li>THU</li>
                                    <li>FRI</li>
                                    <li>SAT</li>
                                </div>
                                <div class="cld_body_start flex cf"></div>
                            </div>
                            <div id="end" class="tab-pane fade">
                                <div class="cld_curent flex">
                                    <button type="button" class="prev1"></button>
                                    <p class="month_year1"></p>
                                    <button type="button" class="next1"></button>
                                </div>
                                <div class="cld_head flex cf">
                                    <li>SUN</li>
                                    <li>MON</li>
                                    <li>TUE</li>
                                    <li>WED</li>
                                    <li>THU</li>
                                    <li>FRI</li>
                                    <li>SAT</li>
                                </div>
                                <div class="cld_body_end flex cf"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" id="apply_time" class="btn_application flex-center">Application</a>
            </div>
        </div>
    </div>
    <div class="modal fade modal-message" id="modal-message">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="message">
                    <p>Unable to deselect image.</p>
                </div>
                <a href="javascript:void(0)" class="close flex-center" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
    <div class="modal-filter"></div>
</main>