<main>
    <div class="recover welcome">
        <h1>Welcome</h1>
        <div class="redirect_password verify_account">
            <h4>Hi User</h4>
            <p>Thank you for signing up! We are very happy to have you on board.</p>
             <p>You are just one step away from accessing the server.</p>
            <p>Please click the button below to confirm that this account belongs to you.</p>
            <p>This is where we’ll send notifications about your account activity.</p>
            <button type="button" class="btn btn-primary-verify">Verify my account</button>
        </div>
        <div class="paste_link">
            <p>If you are having trouble verifying your account, please copy and paste</p>
            <p>the following link into new browser window</p>
            <input type="text" class="form-control" placeholder="https://-------------------">
        </div>
        <div class="link_redirect">
            <p class="content_link">If you did not initiate this request, please ignore this email,</p>
            <p class="content_link">the request will expire shortly.</p>
        </div>
        <div class="note_link">
            <span>If you have any questions along the way, we’ll be happy to help</span>
            <span>Send a message to Beyonsense@stratiotechnology.com</span>
</span>
    </div>
</main>
