body{
  background: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  &.bg-gr{background: #011526}
}
.modal-open .modal{padding-right: 0 !important;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
header{
  width: 100%; height: 78px; background: #000;
  .navbar{align-items: center; height: 100%;}
  a{font-weight: 500; color: #fff; font-size: 16px;}
  a:hover{color: #ccc;}
  div > *+*{margin-left: 75px;}
}
main{width: 100%; overflow: hidden;}
.in_range{background: #dcdcdc;}
.annotation,.training{
  &__left{
    width: 190px; padding: 82px 28px 0 0;
    display: flex; flex-direction: column;
    align-items: flex-end;
  }
  &__right{
    width: calc(100% - 190px); background: #fff;
    padding: 82px 0 100px 52px;
    position: relative;
    h3{margin-bottom: 20px; font-size: 20px; font-weight: 700; color: #011526;}
    &::after{
      content: "";
      width: calc((1920px - 1170px)/2);
      height: 100%;
      background: #fff;
      position: absolute; top: 0; right: -375px; z-index: -1;
    }
  }
  h2{margin-bottom: 65px; font-size: 20px; font-weight: 700; color: #33c3ff; letter-spacing: 0.06px;}
  .box-select{
    margin-bottom: 52px; font-size: 20px; font-weight: 700;  letter-spacing: 0.06px;
    .selection{padding: 0; min-height: auto;}
    select{background: url("#{$img-path}/arr.png") no-repeat right 10px; padding: 0 25px 0 15px; color: #33c3ff; border: none; -webkit-appearance: none;}
    select:focus{outline: none;}
    option{background: #33c3ff; color: #151515; border-bottom: 1px solid #151515; font-weight: 700; font-size: 17px; line-height: 44px;}
    .select2-container .select2-selection--single{height: auto; background: none; font-size: 20px; font-weight: 700; color: #33c3ff; border: none;}
    .select2-container--default .select2-selection--single .select2-selection__arrow b{width: 14px; height: 8px; background: url("#{$img-path}/arr.png") no-repeat;}
    .select2-container--default .select2-selection--single .select2-selection__arrow{top: 6px;}
    .select2-container--default .select2-selection--single .select2-selection__arrow{height: 20px; right: 0;}
    .select2-container--default .select2-selection--single .select2-selection__rendered{color: #33c3ff;}
  }
  .icon-arr{width: 14px; height: 8px; margin: 4px 0 0 8px; background: url("#{$img-path}/arr.png") no-repeat;}
  form{
    input{
      max-width: 105px; height: 30px; margin: 0 0 15px 21px;
      background: none; font-weight: 700; border: none; border-bottom: 1px solid #808a92;
      color: #fff;
    }
    input::placeholder{color: #666666; }
  }
  .box-table{
    table{width: 100%;}
    td,th{padding: 13px 5px; text-align: center;}
    th{font-size: 15px; font-weight: 700;}
    td{font-weight: 300; color: #000;}
    input[type="checkbox"]{width: 18px; height: 18px;}
  }
  .box-btn{
    margin-top: 35px;
    button{height: 35px; background: #011425; border: none; border-radius: 9999px; font-size: 13px; font-weight: 500; color: #fff; transition: .25s;}
    .btn-annotation{
      padding: 0 22px; margin-left: 9px;
      &:hover{background: #000;}
    }
    .btn-select{
      padding: 0 29px; opacity: .5;
      &:hover{opacity: 1;}
    }
    .btn-upload,.btn-download{
      background: #e8e8e8; color: #000; padding: 0 17px;
      &:hover{background: #ccc;}
    }
    .icon-upload,.icon-download{width: 16px; height: 13px; margin-right: 6px; background: url("#{$img-path}/icons.png") no-repeat 0 0;}
    .icon-upload{background: url("#{$img-path}/icons.png") no-repeat -17px 0;}
   .btn-download{margin-left: 16px;}
  }
  .toggle-filter {
    display: none;
    background: #fff;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 50%;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.15);
    border: none;
  }
  .icon-filter{
    width: 14px;
    height: 14px;
    display: block;
    background: url("#{$img-path}/icon-filter.png") no-repeat;
  }
}
.banner{
  .container{
    display: flex; height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  &__content{width: 100%; height: 100%; position: absolute; top: 0; left: 0; color: #fff;}
  h1{margin-bottom: 35px; font-weight: 700; font-size: 40px; line-height: 1.33;}
  p{margin-bottom: 20px; font-weight: 300; font-size: 16px; line-height: 1.13}
  .btn_signin{
    width: 103px; height: 44px; margin-top: 35px;
    border: 1px solid #fff; border-radius: 9999px;
    font-size: 16px; font-weight: 500; color: #fff; transition: .25s;
    &:hover{background: #fff; color: #000;}
  }
}
.introduce{
  padding-top: 125px;
  &__img{
    width: 550px;
    img{display: block; margin: 0 auto;}
  }
  &__content{
    width: calc(100% - 550px);
    > *+*{margin-top: 59px;}
    li{display: flex; align-items: center;}
    .content{flex: 1;}
    .icon{margin-right: 50px;}
    h4{margin-bottom: 8px; color: #0f2953; font-size: 25px; font-weight: 700;}
    p{font-size: 16px; line-height: 33px;}
  }
}
.task{
  padding: vw(190px) 0 vw(248px);
  flex-direction: column;
  h2,label{font-weight: 700;}
  h2{margin-bottom: 50px; letter-spacing: 0.12px; font-size: 40px;}
  label{letter-spacing: 0.05px; margin-left: 30px; font-size: 18px;}
  input{
    width: 100%; min-width: 585px; height: 40px;
    padding: 0 30px;
    border: 1px solid #000; border-radius: 9999px;
    font-weight: 700; color: #898a8a;
  }
  input:focus{outline: none;}
  input::placeholder{color: #898a8a;}
  .btn_submit{
    width: 139px; height: 43px;
    margin: vw(93px) auto 0;
    background: #000; border-radius: 9999px;
    color: #fff; font-weight: 500; font-size: 16px;
    border: none; transition: .25s;
    &:hover{background: #fff; border: 1px solid #000; color: #000;}
  }
}
.filter{
  max-width: 135px;
  &__item{margin-bottom: 20px;}
  h4,h5{display: inline-block;}
  h4{
    letter-spacing: 0.1px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    position: relative;
  }
  h4::after{
    content: "";
    width: 14px; height: 14px;
    background: url("#{$img-path}/icons.png") no-repeat -1px -14px;
    position: absolute; bottom: 3px; right: -15px;
  }
  h5{margin: 12px 0 10px; font-size: 14px; color: #33c3ff; font-weight: 700;}
  label{
    display: flex;
    align-items: center;
    color: #fff; font-size: 14px; font-weight: 700; position: relative;
  }
  input[type="checkbox"]{opacity: 0; visibility: hidden; position: absolute;}
  input:focus{outline: none;}
  .checked{
    width: 14px; height: 14px; display: block;
    margin-right: 8px; border-radius: 3px;
    border: 1px solid #808a92;
    &::after{
      content: "";
      width: 11px; height: 13px;
      background: url("#{$img-path}/tick.png") no-repeat;
      position: absolute; top: 4px; left: 1px; opacity: 0; visibility: hidden;
    }
  }
  input:checked + .checked::after{opacity: 1; visibility: visible;}
}
.table{
  margin-bottom: 0;
  &__head{
    >*+*{margin-left: 45px;}
    .item{padding: 15px 0; font-size: 15px; font-weight: 700;}
    .item:nth-child(1){padding: 15px 18px;}
    &--fx{
      >*+*{margin-left: 0;}
      .item{width: 23%; text-align: center;}
      .item:last-child{width: 8%;}
    }
  }
  &__body{
    /*height: 415px;*/ overflow: auto; padding-right: 10px;
    &--fx{
      height: auto;
      >*+*{border-top: none !important;}
      .rw-fx >*+*{margin-left: 0 !important;}
      .item{width: 23%; text-align: center;}
      .item:last-child{width: 8%;}
      .rw{
        border-bottom: 1px solid #f0f0f0;
        >*+*{margin-left: 0 !important;}
      }
    }
    &::-webkit-scrollbar{width: 8px;}
    &::-webkit-scrollbar-thumb{background: #8f8f8f; border-radius: 10px;}
    &::-webkit-scrollbar-track{background: #e8e8e8; border-radius: 10px;}
    >*+*{border-top: 1px solid #f0f0f0;}
    .rw{
      .rw-fx{padding: 14px 0;}
      .rw-fx >*+*{margin-left: 45px;}
    }
    .item{font-weight: 300;}
    .item:nth-child(1){min-width: 85px; padding: 0 20px; text-align: center;}
    label{
      position: relative; margin-bottom: 0;
      .checked{width: 18px; height: 18px; display: block; border: 1px solid #868686;}
      input{position: absolute; opacity: 0; visibility: hidden;}
      input:checked + .checked{background: url("#{$img-path}/tick1.png") no-repeat center center;}
    }
  }
}
.process{
  margin: 80px auto 100px;
  &__list{
    max-width: 630px; width: 85%;
    margin: 0 auto;
    &::after{
      content: "";
      width: 100%; height: 1px;
      background: #dcdcdc;
      position: absolute; top: 11px;
    }
    li{width: 33.3%; position: relative;}
    li:last-child{
      width: auto; position:absolute; right: -28px;
      &.active::after,&.pending::after{display: none;}
    }
    span{display: block; margin-top: 35px; font-size: 15px; font-weight: 700; color: #c0c0c0;}
    li:nth-child(1) span{margin-left: -50px;}
    li:nth-child(2) span{margin-left: -62px;}
    li:nth-child(3) span{margin-left: -65px;}
    li:nth-child(4) span{margin-left: -18px;}
  }
  .active,.pending{
    span{color: #5dccff;}
    .icon{background: #5dccff;}
  }
  .active{
    &::after{
      content: "";
      width: 100%; height: 1px;
      background: linear-gradient(to right, rgba(#5dccff,1), rgba(#5dccff,0));
      position: absolute; top: 11px; left: 0; z-index: 1;
    }
  }
  .pending{
    &::after{
      content: "";
      width: 100%; height: 1px;
      background: #5dccff;
      position: absolute; top: 11px; left: 0; z-index: 1;
    }
  }
  .icon{
    width: 22px; height: 22px; background: #c0c0c0; border-radius: 50%;
    position: absolute; left: -11px; top: 0; z-index: 2;
    &::after{
      content: "";
      width: 11px; height: 11px;
      background: #fff; border-radius: 50%;
      position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    }
  }
}
.pagination{
  margin-top: 80px; justify-content: center;
  .icon-prev,.icon-next{
    width: 9px; height: 16px; display: block;
    background: url("#{$img-path}/icons.png") no-repeat -3px -32px;
  }
  li{margin: 0 15px;}
  .icon-prev{transform: rotate(180deg);}
  .page-link{border: none; padding: 0.5rem .8rem; font-size: 14px; color: #000; border-radius: 50% !important;}
  .active .page-link{color: #33c3ff; font-weight: 700; background: none; box-shadow: none;}
  .active .page-link:hover{background: #dcdcdc;}
}
.box-dropdown{
  padding: 0;
  .select-dr,.dropdown-menu{
    &::after{
      content: "";
      width: 21px; height: 14px;
      background: url("#{$img-path}/arr3.png") no-repeat 0 0/contain;
      position: absolute; right: 25px;
    }
  }
  .select-dr{
    width: 100%; max-width: 500px; height: 40px; border: 1px solid #000; border-radius: 9999px;
    text-align: center; font-size: 14px; font-weight: 700; line-height: 37px;
    &::after{top: 12px;}
  }
  .dropdown-menu{
    width: 100%; max-width: vw(500px);
    border-radius: 20px;
    background: #fff;
    border: 1px solid #000; font-size: 14px; font-weight: 700; text-align: center;
    position: absolute; top: 0; left: 105%; z-index: 2;
    @media (max-width: 1680px) {
      max-width: 500px; left: 0; top: 40px;
    }
    &::after{top: 15px; }
    .item{padding: 5px 0; cursor: pointer;}
  }
}

//modal
.datetimepicker{
  .modal-dialog{max-width: 337px; margin: 3rem auto;}
  .modal-content{padding: 45px 34px 25px; border-radius: 10px;}
  .close{
    width: 35px; height: 35px;
    text-indent: -9999em;
    background: url("#{$img-path}/close.png") no-repeat;
    position: absolute; top: 12px; right: 12px;
  }
  .prev,.next,.prev1,.next1{
    width: 14px; height: 22px; padding: 0;
    background: url("#{$img-path}/arr1.png") no-repeat 0 0/contain;
    border: none;
  }
  .prev,.prev1{transform: rotate(180deg);}
  .month_year,.month_year1{padding: 0 20px; font-weight: 700; font-size: 34px;}
  .cld_curent{
    position: absolute;
    top: 22px;
    align-items: center;
  }
  .cld_head{
    justify-content: space-between;
    li{width: 38px; height: 35px; line-height: 35px; font-size: 12px; font-weight: 300; text-align: center;}
  }
  .cld_body,.cld_body_start,.cld_body_end{
    li{width: 38px; margin: 4px 0; text-align: center;}
    li span{
      width: 35px; height: 35px;
      border-radius: 50%; margin: 0 auto; display: block;
      font-size: 15px; line-height: 35px; cursor: pointer;
    }
    li span.starday, li span.endday{
      background: #000; color: #fff;
      &:hover{background: #000; color: #fff;}
    }
    li span:hover{background: #dcdcdc;}
  }
  li{list-style: none;}
  h4{font-weight: 700; font-size: 19px;}
  .btn_application{
    width: 114px; height: 35px;
    margin: 15px auto 0;
    background: #000; font-size: 13px; font-weight: 500;
    border-radius: 9999px; color: #fff; transition: .25s;
    &:hover{background: #fff; border: 1px solid #000; color: #000;}
  }
}
.select_day{
  margin: 77px 0 20px;
  width: 100%;
  height: 33px;
  background-color: #f0f0f0;
  border-radius: 9999px;
  li{width: 50%;}
  a{
    width: 100%; display: block; border-radius: 9999px;
    font-weight: 500;
    text-align: center;
    color: #000; line-height: 33px;
  }
  .active{
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  }
}
.box-switch{
  display: flex; align-items: center;
  margin: 30px 0 20px;
  label{width: 100%; margin-bottom: 0;}
  p{flex-basis: 100%; margin-top: 5px;}
  span:not(.switch){flex: 1;}
  select{
    width: 100%; max-width: 320px;
    height: 40px; padding: 0 5px;
    background: none;
    /*margin-left: 20px;*/
    border: 1px solid #BDBDBD;
    border-radius: 4px;
  }
  &.show{
    .switch-toggle{display: block;}
  }
  .switch-toggle{display: none;}
}
.switch{
  width: 100%; height: 33px; display: block;
  margin-right: 10px;
  position: relative;
  input{width: 0; height: 0; opacity: 0; position: absolute;}
  .slider {
   width: 100%; height: 33px;
    background-color: #f0f0f0; border-radius: 9999px;
    transition: .4s;
    cursor: pointer;
  }
  .slider:before {
    content: "";
    height: 33px; width: 140px;
    position: absolute; left: 0; bottom: 0;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
    transition: .4s;
  }
  input:checked + .slider:before {
    transform: translateX(127px);
  }
  input:checked + .slider{}
  &__btn{
    width: 100%; height: 33px;
    position: absolute; top: 0;
    span{width: 50%; line-height: 33px; font-size: 15px; font-weight: 500; text-align: center;}
  }
}
.modal-filter{
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  &.show{display: block;}
}
.preview-image{
  .modal-dialog{max-width: 625px;}
  .modal-content{background: #cbcbcb; border: none; padding-bottom: 60px;}
  .img-wrapper{min-height: 370px;}
  .close{
    width: 100%; height: 60px;
    background: #000; border-radius: 0 0 5px 5px;
    text-shadow: none;
    text-align: center; color: #fff; line-height: 60px; font-weight: 500; font-size: 16px;
    position: absolute; bottom: 0; opacity: 1;
    &:hover{opacity: 1 !important; color: #fff !important; }
  }
}
.modal-message{
  .modal-dialog{max-width: 377px;}
  .modal-content{border: none; padding: 22px; border-radius: 10px;}
  .message{
    margin: 22px 0 35px;
    text-align: center;
    p{margin-bottom: 0; font-size: 18px; font-weight: 700;}
  }
  .close{
    width: 85px; height: 35px; margin: 0 auto;
    background: #000; border-radius: 9999px;
    font-size: 15px; color: #fff; font-weight: 500;
    opacity: 1; transition: .25s;
    &:hover{background: #fff; border: 1px solid #000; color: #000;}
  }
}

//annotation
.box-annotation{
  justify-content: center;
  margin: vw(85px) 0;

  .col-left{width: 870px;}
  .col-right{
    width: 260px;
    margin: 45px 0 0 40px;
    input{
      width: 100%; height: 40px; padding: 0 30px;
      border: 1px solid #000; border-radius: 9999px;
      font-size: 14px; font-weight: 700; color: #898a8a;
      &:focus{outline: none;}
    }
  }
  .img-wrapper{
    width: 100%; height: 485px; background: #e6e7e8; overflow: hidden;
    img{position: absolute; max-width: 85%;}
  }
  .figure{
    margin-bottom: 15px;
    &__item{align-items: center; margin-right: 28px;}
    .icon{display: block; margin-right: 8px;}
    .icon-boouding{width: 24px; height: 24px; border: 1px solid #000;}
    .icon-polygon{width: 27px; height: 26px; background: url("#{$img-path}/polygon.png") no-repeat;}
    p{margin-bottom: 0; font-size: 13px; font-weight: 700; line-height: 1.2;}
  }
  .nav-annotaion{
    margin-top: 28px;
    justify-content: space-between;
    button{
      height: 35px; background: #000;
      flex-wrap: nowrap;
      border-radius: 9999px; color: #fff; font-size: 13px; font-weight: 500; border: none;
      &.disable{opacity: .5;}
    }
    .icon{width: 10px; height: 16px; display: block; background: url("#{$img-path}/arr2.png") no-repeat;}
    .btn_prev{
      width: 149px;
      .icon{margin-right: 20px; transform: rotate(180deg);}
    }
    .btn_next{
      width: 128px;
      .icon{margin-left: 20px;}
    }
  }
  .box-btn{
    position: absolute; right: -80px; bottom: 80px;
    font-size: 16px; font-weight: 700;
    button{display: block; text-align: center; border: none;}
    i{display: block; margin: 0 auto 3px; height: 36px;}
    .btn_save{margin-bottom: 30px;}
    .btn_save i{width: 33px; background: url("#{$img-path}/icon-save.png") no-repeat 0 0/contain;}
    .btn_reset i{width: 30px; background: url("#{$img-path}/icon-reset.png") no-repeat 0 0/contain;}
  }
}
//selection
.selection{
  padding: vw(144px) 15px;
  min-height: 76vh;
  &__title{margin-bottom: vw(64px); font-weight: 700; font-size: 40px; text-align: center;}
  &__list{
    display: flex; align-items: center; flex-direction: column;
    >*+*{margin-top: 18px;}
    a{width: 100%; max-width: 341px; height: 41px; background: #000; border-radius: 9999px; color: #fff; font-weight: 500; font-size: 18px; transition: .25s;}
    a:hover{border: 1px solid #000; color: #000; background: #fff;}
  }
}
//training
.training{
  .nav{
    margin-bottom: 40px;
    justify-content: center;
    a{display: block; padding: 0 55px; font-size: 18px; font-weight: 700; color: #011526; line-height: 20px; position: relative;}
    li:nth-child(1) a{padding: 0 36px 0 40px;}
    li:nth-child(2) a{padding: 0 50px 0 45px;}
    li:nth-child(3) a{padding: 0 72px 0 57px;}
    .active{
      color: #33c3ff;
      &::after{
        content: "";
        width: 16px; height: 2px;
        display: block; margin: 15px auto 0;
        background: #33c3ff;
      }
    }
    >*+* a::before{
      content: "";
      width: 1px; height: 20px; background: #aeaeae;
      position: absolute; top: 0; left: 0;
    }
  }
  .info{
    max-width: 860px; width: 100%; margin: 0 auto; background: #f5f5f5; padding: 40px 0;
    > div{width: 50%; padding: 0 44px;}
    >*+*{border-left: 1px solid #d7dadc;}
    &__item{
      margin-top: 18px; font-size: 16px;
      h5{width: 220px; font-weight: 700; font-size: 16px;}
      h6{width: 220px; margin-bottom: 0;}
      span,h6{font-weight: 300; color: #151515;}
    }
    .title{
      margin-bottom: 40px;
      min-height: 58px;
      font-size: 22px; font-weight: 700;
      color: #011526; letter-spacing: 0.07px; line-height: 1.36;
    }
    li{padding: 9px 0; list-style: none; display: flex;}
  }
  .box-btn{
    justify-content: center;
    margin-top: 45px;
    button{width: 100%; max-width: 341px; height: 41px; font-size: 18px; transition: .25s;}
    button:hover{background: #fff; color: #000; border: 1px solid #000;}
  }
  .matrix{
    align-items: center;
    flex-wrap: nowrap;
    h5{
      margin: 0 15px 0 0;
      padding-top: 30px;
      color: #151515; font-weight: 500; font-size: 14px;
      writing-mode: tb;
      transform: rotate(180deg);
    }
    h6{margin-bottom: 0; padding-left: 75px; font-size: 14px; font-weight: 500; text-align: center;}
    .table{margin-bottom: 0;}
    table{
      margin: 15px 0 20px;
      border-collapse: collapse;
      td{border: 1px solid #d3d3d3; padding: 26px 38px; font-weight: 300;}
      tr td:first-child{border: none; padding: 26px 0; text-align: center;}
      tr:last-child td{border: none; padding: 12px 38px 0;}
    }
  }
  .table .info{
    width: 100%; max-width: 100%; padding: 60px 0;
    display: none;
    > div{padding: 0 60px;}
  }
  .show-dropdown{
    .info{display: flex;}
    .btn_dropdown{transform: rotate(180deg);}
  }
  .pagination{margin-top: 60px;}
  .form-input{
    width: 100%; max-width: 392px; margin: 0 auto; padding-bottom: 50px;
    &.lg{
      max-width: 500px;
      input{text-align: center;}
    }
    label{display: block; font-size: 18px; font-weight: 700; margin-bottom: 10px;}
    input,textarea,select{
      width: 100%; color: #333; font-weight: 700;
      &::placeholder{color: #b9b9b9;}
      &:focus{outline: none;}
    }
    select{text-align: center;}
    input,select{
      height: 40px; margin: 0; max-width: 100%; padding: 0 18px; border: 1px solid #000; border-radius: 9999px;
      &:focus{outline: none;}
    }
    textarea{height: 198px; padding: 14px 20px; border-radius: 20px;}
    .form-group{margin-bottom: 22px;}
    .btn_submit{
      width: 100%; height: 41px;
      background: #000; border-radius: 9999px;
      font-size: 18px; font-weight: 500; color: #fff; transition: .25s;
      &:hover{background: #fff; border: 1px solid #000; color: #000;}
    }
    .selection{padding: 0; min-height: initial;}
  }
  .btn_next{margin: 70px auto 0;}
  .btn_dropdown{
    width: 21px; height: 14px;
    display: block; margin: 0 auto;
    background: url("#{$img-path}/arr3.png") no-repeat center center;
  }
}
.data_creating{
  max-width: 854px; width: 100%; height: 237px;
  align-items: center;
  background: #f5f5f5; margin: 0 auto;
  .item{flex-grow: 1; padding: 11px 5px;}
  >*+*{border-left: 1px solid #e2e2e2;}
  h5{margin-bottom: 15px; text-align: center; font-size: 18px; font-weight: 700;}
  p{text-align: center; font-weight: 700; font-size: 63px; line-height: 1;}
  p span{font-size: 27px;}
}

//chart
.chart{
  .title{display: block; text-align: center; font-size: 24px; font-weight: 700; color: #000;}
  &__info{
    margin-bottom: 12px;
    justify-content: center;
    p{margin: 0 30px; font-size: 16px; font-weight: 700;}
    p span{font-weight: 300; margin-left: 20px;}
  }
  .txt{font-size: 18px; font-weight: 700; text-align: center;}
}
.chart_line{
  max-width: 620px; width: 100%; margin: 0 auto;
}
.highcharts-axis-labels{font-family: 'Noto Sans KR', sans-serif;}
.highcharts-credits,.highcharts-legend{display: none;}

//custom select.min.2
/*.select2-container .select2-selection--single{height: 40px; border: 1px solid #000; border-radius: 20px; text-align: center; color: #000; font-weight: 700; font-size: 14px; position: relative;}
.select2-container .select2-selection--single:focus{outline: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 40px; color: #000;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 40px; right: 26px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  margin: 0;
  width: 21px; height: 14px;
  background: url("#{$img-path}/arr3.png") no-repeat;
  top: 11px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-width: 0;}
.select2-container--default .select2-results>.select2-results__options{max-height: 300px; height: 100%; text-align: center;}
.select2-dropdown{border-radius: 20px; border: 1px solid #000;}
.select2-results__option{padding: 5px; font-weight: 700;}
.select2-container--open .select2-dropdown{top: -1px;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background: none; color: #000;}
.select2-container--default .select2-results__option[aria-selected=true]{background: transparent;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-right: 8px;}*/
.select2-container--default .select2-selection--single .select2-selection__arrow b{border-width: 0;margin: 0;
}
.select2-container .select2-selection--single:focus{outline: none;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-width: 0;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-right: 10px; padding-left: 20px;}
.select2-dropdown{border: none; border-radius: 0; background: #33c3ff; min-width: 180px;}
.select2-container--open .select2-dropdown{left: -2px; top: 5px;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background: none; color: #000;}
.select2-results__option{font-weight: 700; font-size: 17px; padding: 10px 20px; border-bottom: 1px solid #42a1d1;}
.select2-container--default .select2-results__option[aria-selected=true]{background: transparent;}
.select2-results__options:last-child{border-bottom: none;}

//uikit
.container{max-width: 1200px;}
.pr{position: relative;}
.icon{display: block;}
button{
  cursor: pointer; background: none; border: none;
  &:focus{outline: none;}
}
.btn_pr{
  width: 100%; height: 41px; max-width: 390px;
  background: #000; font-size: 18px;  font-weight: 500; color: #fff;
  border-radius: 9999px; transition: .25s;
  &:hover{border: 1px solid #000; background: #fff; color: #000;}
}

//footer
footer{
  display: flex;
  background: #000;
  min-height: 155px;
  align-items: center;
  h4{margin-right: 55px; font-size: 29px; font-weight: 700; color: #fff;}
  h4 span{font-size: 23px;}
  .info{margin-right: 45px;}
  p{margin-bottom: 0; font-size: 14px; line-height: 1.7;}
  p,a{color: #fff;}
  a:hover{color: #ccc;}
}

@media (max-width: 1024px) {
  .banner{
    &__img{height: 460px;}
    img{height: 100%; object-fit: cover;}
  }
  .introduce{
    padding-top: 60px;
    &__img{width: 45%;}
    &__content{width: 55%;}
  }
  .task{min-height: 83vh;}
  .box-annotation{
    .col-left{width: 800px;}
  }
  .training{
    .nav{
      li a{padding: 0 30px !important;}
    }
    .info > div{padding: 0 15px;}
    .table .info > div{padding: 0 15px;}
    .table .info{padding: 30px 0;}
  }
}
@media (max-width: 768px) {
  body.bg-gr{background: #fff;}
  .annotation,.training{
    .toggle-filter{display: block; z-index: 2;}
    h2{margin-bottom: 45px;}
    &__left{
      padding: 50px 15px 0 0;
      height: 100%;
      background: #011526;
      position: fixed;
      left: -100%;
      top: 0;
      z-index: 9 !important;
      transition: all .25s ease;
      overflow: auto;
      &.show{left: 0;}
    }
    &__right{
      width: 100%; padding: 50px 0 80px;
    }
    form{
      input{max-width: 125px;}
    }
    .box-table{
      width: 100%; overflow: auto;
      th,td{font-size: 13px;}
      > table{min-width: 600px;}
    }
    .box-btn{
      button{margin: 5px; font-size: 12px;}
      .btn-upload,.btn-download{padding: 0 13px;}
      .btn-download{margin-left: 5px;}
    }
  }
  .banner{
    h1{font-size: 30px; margin-bottom: 25px;}
    p{font-size: 14px; margin-bottom: 10px;}
    .btn_signin{margin-top: 15px;}
  }
  .introduce{
    &__content{
      .icon{margin-right: 20px; width: 100px;}
    }
  }
  .filter{max-width: 150px;}
  .pagination{margin-top: 40px;}
  .box-annotation{
    .col-left {width: 100%; padding: 0 15px;}
    .col-right{margin-left: 0;}
   /* canvas{width: 100% !important;}*/
    .img-wrapper{height: 300px;}
    .box-btn{
      position: relative; top: 0; right: 0;
      display: flex; margin-top: 15px;
      .btn_save{margin-bottom: 0; margin-right: 15px;}
    }
  }
  .preview-image{
    .img-wrapper{min-height: auto;}
    .modal-content{padding-bottom: 40px;}
    .close{height: 40px; line-height: 40px;}
  }
  .select2-container--open .select2-dropdown{left: -19px;}
  footer{
    padding: 20px 0 0;
    h4,.info{width: 100%; margin-bottom: 20px;}
  }
}
@media (max-width: 640px) {
  header{
    height: 60px;
    div > * + * {margin-left: 15px;}
    a{font-size: 13px;}
    .logo{max-width: 140px;}
  }
  .introduce{
    padding-bottom: 30px;
    &__content{
      width: 70%; padding-left: 15px;
      > * + * {margin-top: 30px;}
      .content{flex: auto;}
      .icon{width: 80px; margin-bottom: 10px;}
      li{flex-wrap: wrap;}
      h4{font-size: 20px;}
      p{font-size: 14px; line-height: 26px;}
    }
    &__img{width: 30%;}
  }
  .banner{
    h1{font-size: 25px; line-height: 1.7;}
  }
  .task{
    min-height: 68vh;
    h2{margin-bottom: 30px;}
    label{margin-left: 10px;}
    input{min-width: 80%;}
  }
  .selection{
    padding: 15px;
    display: flex; flex-direction: column;
    justify-content: center;
    &__title{margin-bottom: 30px; font-size: 26px;}
  }
  .training{
    .nav{
      li{margin: 10px 0;}
      li a{padding: 0 15px !important; font-size: 15px;}
      .active::after{
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .process{
    margin: 50px auto;
    &__list{
      span{max-width: 80px; margin-left: -40px !important; text-align: center; font-weight: 500; font-size: 11px;}
      li:last-child{
        right: 0;
        span{position: absolute; right: -15px;}
      }
    }
  }
  .table{
    min-width: 460px;
    &__head{
      .item{font-size: 13px;}
      .item:nth-child(1){padding: 15px 5px;}
    }
    &__body{
      .item:nth-child(1){padding: 0 5px; min-width: 50px;}
    }
  }
  .training{
    .info{
      padding: 15px 0;
      &__item{
        font-size: 14px;
        h5,h6{width: 160px; font-size: 15px;}
      }
      .title{margin-bottom: 30px; min-height: auto; font-size: 20px;}
      >*+*{border-left: none; margin-top: 15px;}
      > div{width: 100%;}
    }
  }
  .data_creating{
    height: auto;
    .item{width: 50%; border-bottom: 1px solid #e2e2e2;}
    p{font-size: 50px;}
    p span{font-size: 20px;}
  }
  .chart{
    &__info{
      p{margin: 0 10px;}
      p span{margin-left: 10px;}
    }
  }
  .pagination{
    li{margin: 0 5px;}
  }
}
@media (max-width: 360px) {
  .training{
    .matrix{
      table{
        td{padding: 15px 25px;}
        tr:last-child td{padding: 12px 25px;}
        tr td:first-child{padding: 15px 10px;}
      }
      h6{padding-left: 55px;}
    }
  }
}
.in_range {
  background: #dcdcdc;
}

#file-upload {
  display: none;
}

.custom-file-upload {
  padding: 6px 12px !important;
  cursor: pointer;
  height: 35px;
  background: #011425;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}
