
.preview-image{
  .modal-dialog{max-width: 625px;}
  .modal-content{background: #cbcbcb; border: none; padding-bottom: 60px;}
  .img-wrapper{min-height: 370px;}
  .close{
    width: 100%; height: 60px;
    background: #000; border-radius: 0 0 5px 5px;
    text-shadow: none;
    text-align: center; color: #fff; line-height: 60px; font-weight: 500; font-size: 16px;
    position: absolute; bottom: 0; opacity: 1;
    &:hover{opacity: 1 !important; color: #fff !important; }
  }
}
.login {
  &.reset_pwd {
    max-width: 670px;
    margin: 145px auto 210px;
    button {
      max-width: 139px;
      margin-top: 93px;
      display: block;
      margin: 93px auto 27px;
    }
    .return_login a {
      font-weight: 700;
      color: #000;
    }
  }
  &.resetpassword {
    max-width: 450px;
    .form-group, button {
      max-width: 340px;
      margin: auto;
      display: block;
      input {
        margin-bottom: 17px;
      }
    }
    button {
      margin-top: 40px;
    }
  }
  &.signup {
    max-width: 495px;
    .timezone {
      img  {
        display: inline-block;
        width: 20px;
        height: 15px;
        position: absolute;
        top: 0;
        right: 30px;
        bottom: 0;
        margin: auto;
      }
    }
    .note_signup {
      text-align: center;
      margin-top: 99px;
      margin-bottom: 80px;
      p {
        font-size: 15px;
        font-weight: 700;
      }
      a  {
        font-weight: 700;
        color: #09a7e9;
      }
    }
    .button_signup {
      button {
        max-width: 340px;
        height: 40px;
        border-radius: 20px;
        background-color: #000;
        color: white;
        font-size: 18px;
        display: block;
        margin: 0 auto 30px ;
        border: none;
      }
      a {
        text-align: center;
        display: block;
        font-weight: 700;
        font-size: 14px;
        color: #000;
      }
    }
  }
  max-width: 340px;
  margin: 145px auto 110px;
  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
  }
  .form-group {
    label {
      font-size: 18px;
      font-weight: 700;
    }
    input {
      height: 40px;
      border-radius: 20px;
      border: solid 1px #000;
      background-color: #f6f6f6;
      &::placeholder {
        font-size: 14px;
        font-weight: 700;
        color: #b9b9b9;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
  button {
    width: 100%;
    background-color: #000;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    height: 40px;
    margin-top: 9px;
    margin-bottom: 30px;
  }
  .remember {
    text-align: center;
    input {
      border: solid 1px #000;
      width: 15px;
      height: 15px;
      border-radius: 0;
      opacity: 0;
      position: absolute;
      z-index: 9;
      &:hover {
        cursor: pointer;
      }
    }
    span {
      font-size: 14px;
      font-weight: 700;
      position: relative;
      cursor: pointer;
      &:before {
        content:'';
        -webkit-appearance: none;
        background-color: transparent;
        border: solid 1px #000;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 6px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }
}
.remember input:checked + span:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.sign-up {
  max-width: 340px;
  margin: 0 auto 145px;
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
  position: relative;
  text-align: center;
  &:after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 20px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 60%;
    bottom: 0;
    margin: auto;
  }
  a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }
}
.recover {
  max-width: 43%;
  width: 100%;
  display: block;
  margin: 144px auto;
  text-align: center;
  p {
    font-weight: 700;
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 78px;
  }
  button.btn-primary-active {
    max-width: 139px;
    height: 43px;
    color: white;
    border-radius: 20px;
    background-color: #000;
    width: 100%;
    border: none;
    margin-top: 40px;
  }
  .redirect_password {
    text-align: center;
    margin-bottom: 152px;
    img {
      margin: 47px auto 38px;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      color: #000;
    }
    button {
      max-width: 225px;
      height: 40px;
      border-radius: 20px;
      color: white;
      text-transform: uppercase;
      background-color: #000;
      font-size: 18px;
      width: 100%;
      margin-top: 37px;
    }
    &.verify_account {
      h4 {
        margin-bottom: 40px;
      }
      p {
        font-weight: normal;
        line-height: 32px;
      }
    }
  }
  .link_redirect {
    margin-bottom: 75px;
    p {
      font-size: 15px;
      font-weight: 700;
    }
    p.content_link {
      font-weight: 500;
    }
  }
  .paste_link {
    margin-bottom: 121px;
    p {
      line-height: 28px;
      font-size: 15px;
      max-width: 80%;
      width: 100%;
      margin: 0 auto;
      font-weight: 500;
    }
    p.content_link {
      max-width: 66%;
    }
    input {
      max-width: 340px;
      height: 40px;
      border: solid 1px #000;
      background-color: #f6f6f6;
      border-radius: 20px;
      margin: 40px auto 0;
    }
  }
  .link_redirect {
    p {
      max-width: 80%;
      width: 100%;
      margin: auto;
      line-height: 28px;
    }
  }
  .note_link {
    max-width: 55%;
    width: 100%;
    margin: auto;
    span {
      font-size: 12px;
      font-weight: 700;
    }
  }
  &.welcome .note_link {
    max-width: 57%;
    span {
      display: block;
    }
  }
}
.bg_popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  display: none;
  &.show {
    opacity: 0.5;
    display: block;
  }
}

@media (min-width: 1199px) and (max-width: 1366px) {
  .login {
    &.signup {
      max-width: 510px;
    }
  }
  .recover {
    max-width: 55%;
    .link_redirect {
      p {
        max-width: 100%;
        a {
          color: #09a7e9;
        }
      }
      p.content_link {
        max-width: 70%;
      }
    }
    &.welcome {
      max-width: 51%;
      .note_link {
        max-width: 60%;
      }
    }
  }
}
@media (max-width: 1024px) {
  .banner{
    &__img{height: 460px;}
    img{height: 100%; object-fit: cover;}
  }
  .introduce{
    padding-top: 60px;
    &__img{width: 45%;}
    &__content{width: 55%;}
  }
  .task{min-height: 83vh;}
  .box-annotation{
    .col-left{width: 800px;}
  }
}
@media (max-width: 768px) {
  .login {
    .form-group {
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    .note_signup {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .recover {
    max-width: 80%;
    .note_link {
      max-width: 100%;
    }
    .link_redirect,
    .paste_link {
      p {
        max-width: 100%;
      }
    }
  }
  .annotation{
    .toggle-filter{display: block; z-index: 2;}
    h2{margin-bottom: 45px;}
    &__left{
      padding: 50px 15px 0 0;
      height: 100%;
      background: #011526;
      position: fixed;
      left: -100%;
      top: 0;
      z-index: 9999;
      transition: all .25s ease;
      overflow: auto;
      &.show{left: 0;}
    }
    &__right{
      width: calc(100% + 15px); margin-left: -15px; padding: 50px 0 50px 15px;
    }
    form{
      input{max-width: 125px;}
    }
    .box-table{
      width: 100%; overflow: auto;
      th,td{font-size: 13px;}
      table{min-width: 600px;}
    }
    .box-btn{
      button{margin: 5px; font-size: 12px;}
      .btn-upload,.btn-download{padding: 0 13px;}
      .btn-download{margin-left: 5px;}
    }
  }
  .banner{
    h1{font-size: 30px; margin-bottom: 25px;}
    p{font-size: 14px; margin-bottom: 10px;}
    .btn_signin{margin-top: 15px;}
  }
  .introduce{
    &__content{
      .icon{margin-right: 20px; width: 100px;}
    }
  }
  .filter{max-width: 150px;}
  .pagination{margin-top: 40px;}
  .box-annotation{
    .col-left {width: 100%; padding: 0 15px;}
    .col-right{margin-left: 0;}
   /* canvas{width: 100% !important;}*/
    .box-btn{
      position: relative; top: 0; right: 0;
      display: flex; margin-top: 15px;
      .btn_save{margin-bottom: 0; margin-right: 15px;}
    }
  }
  .preview-image{
    .img-wrapper{min-height: auto;}
    .modal-content{padding-bottom: 40px;}
    .close{height: 40px; line-height: 40px;}
  }
  footer{
    padding: 20px 0 0;
    h4,.info{width: 100%; margin-bottom: 20px;}
  }
}
